@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Sora:wght@100..800&family=Tiro+Gurmukhi:ital@0;1&display=swap");
@import "tailwindcss";

body {
  font-family: "Sora", serif;
}

.app {
  @apply flex flex-col text-center justify-center items-center max-w-2xl mx-auto p-4 space-y-3 text-white min-h-screen;

  position: relative;
  z-index: 2;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.app-container {
  @apply flex flex-col rounded-lg bg-gradient-to-r from-cyan-900 to-blue-900/70 px-16 py-4;
}

.search {
  @apply border-2 rounded-xl px-4 w-full py-2;
}

.weather-overview {
  @apply my-4 gap-y-3;
  h1 {
    @apply text-3xl sm:text-6xl;
  }

  p {
    @apply text-lg sm:text-2xl;
  }
}

.dates {
  @apply flex justify-between px-16 py-6 my-4 gap-4;
}

.weather-details {
  @apply px-8 py-4 text-sm bg-black rounded-3xl flex justify-between border-2 border-black transition-all duration-300 items-center leading-loose hover:border-gray-500 hover:shadow-[0px_0px_5px_1px_gray];
}

.weather-details .title {
  @apply flex gap-2 text-base justify-center;
}
.temp-details {
  @apply flex-col justify-center items-center;
}
.temp-details .high {
  @apply text-green-500;
}

.temp-details .low {
  @apply text-red-500;
}
.temp-details .feels {
  @apply text-blue-500;
}
.wind {
  @apply flex-col justify-center items-center;
}

.humidity-precipitation {
  @apply flex-col justify-center items-center;
}

.humidity-precipitation .label {
  @apply flex gap-1 justify-start items-center;
}

.forecast {
  @apply bg-blue-600 rounded-4xl p-4 mt-4 border-2 border-blue-600 transition-all duration-300 hover:border-gray-500 hover:shadow-[0px_0px_5px_1px_gray];
  h1 {
    @apply text-2xl sm:text-3xl mb-4;
  }
  p {
    @apply text-sm;
  }
}
.forecast-container {
  @apply flex flex-row text-center opacity-90 space-x-1 p-2 w-[600px] overflow-x-scroll;
}

.forecast-entry {
  @apply w-auto max-w-[400px] px-4;

  .icon {
    @apply w-[72px] h-[72px] object-contain;
  }
}

.forecast-container::-webkit-scrollbar {
  width: 12px;
}

.forecast-container::-webkit-scrollbar-track {
  @apply bg-blue-200 rounded-2xl;
}

.forecast-container::-webkit-scrollbar-thumb {
  @apply bg-blue-900 rounded-2xl;
}

.forecast-container::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-500;
}

.location-dropdown {
  @apply flex py-4;
}

[class^="bg-"] {
  position: relative;
  background-size: cover;
  background-position: center;
}

[class^="bg-"]::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(4px);
  z-index: 1;
}

[class^="bg-"] * {
  position: relative;
  z-index: 2;
}

.bg-default {
  @apply bg-blue-500;
}

.bg-ash {
  background: url("/Ash.webp") no-repeat center center/cover;
}

.bg-clear {
  background: url("/Clear.webp") no-repeat center center/cover;
}

.bg-clouds {
  background: url("/Clouds.webp") no-repeat center center/cover;
}

.bg-drizzle {
  background: url("/Drizzle.webp") no-repeat center center/cover;
}

.bg-dust {
  background: url("/Dust.webp") no-repeat center center/cover;
}

.bg-fog {
  background: url("/Fog.webp") no-repeat center center/cover;
}

.bg-haze {
  background: url("/Haze.webp") no-repeat center center/cover;
}

.bg-mist {
  background: url("/Mist.webp") no-repeat center center/cover;
}

.bg-rain {
  background: url("/Rain.webp") no-repeat center center/cover;
}

.bg-sand {
  background: url("/Sand.webp") no-repeat center center/cover;
}

.bg-smoke {
  background: url("/Smoke.webp") no-repeat center center/cover;
}

.bg-snow {
  background: url("/Snow.webp") no-repeat center center/cover;
}

.bg-squall {
  background: url("/Squall.webp") no-repeat center center/cover;
}

.bg-thunderstorm {
  background: url("/Thunderstorm.webp") no-repeat center center/cover;
}

.bg-tornado {
  background: url("/Tornado.webp") no-repeat center center/cover;
}
